{% extends "master.html" %}

{% block content %}
<style>
    .cont{
        display: flex;
        width: 400px;
        gap:2px;
    }
</style>
<a href="{% url 'employee_list' %}"  class="btn btn-danger">Go back</a>
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="d-flex flex-column my-2">
        <div class="cont">
            <p class="col">Firsname: </p>
            <div class="col"> {{ form.firstname }} </div>
        </div>
        <div class="cont">
            <p class="col">Lastname: </p>
            <div class="col"> {{ form.lastname }} </div>
        </div>
        <div class="cont">
            <p class="col">Mobile: </p>
            <div class="col"> {{ form.mobile }} </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
{% endblock content %}